@{
    ViewData["Title"] = "Home Page";
}

<html>

<body>
    <div class="container">
        <div class="row" id="main_row">

            <div class="col">
                <canvas id="canvas">
                </canvas>
            </div>

            <div class="col">
                <div class="">
                    <button id="btn_start" type="button" class="btn btn-primary">Left</button>
                </div>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
                    style="height: 500px; overflow-y: scroll;" tabindex="0">
                    <h4 id="scrollspyHeading1">First </h4>
                    <div class="container">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                    </div>
                    <h4 id="scrollspyHeading2">Second </h4>
                    <div class="container">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                    </div>
                    <h4 id="scrollspyHeading3">Third </h4>
                    <div class="container">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                    </div>
                    <h4 id="scrollspyHeading4">Fourth </h4>
                    <div class="container">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                        <img src="/Images/RallyStart.png" alt="" width="50">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        let canvas = document.getElementById("canvas");
        let context = canvas.getContext("2d");


        canvas.width = 960;
        canvas.height = 640;
        canvas.style.border = '1px solid black';

        let image = new Image();
        image.src = "/Images/RallyTrackBackground.png";
        image.onload = function () {
            canvas.style.backgroundImage = `url(${image.src})`;
            canvas.style.backgroundSize = 'cover';
        };


        let offset_x;
        let offset_y;

        let canvas_width = canvas.width;
        let canvas_height = canvas.height;

        let get_offset = function () {
            let canvas_offsets = canvas.getBoundingClientRect();
            offset_x = canvas_offsets.left;
            offset_y = canvas_offsets.top;
        }

        get_offset();
        window.onscroll = function () {
            get_offset();
        }
        window.onresize = function () {
            get_offset();
        }
        canvas.onresize = function () {
            get_offset();
        }

        let shapes = [];
        let current_shape_index = null;
        let is_dragging = false;
        let startX;
        let startY;

        shapes.push({ x: 100, y: 100, width: 100, height: 100, color: 'red' })
        shapes.push({ x: 50, y: 50, width: 50, height: 30, backgroundImage: src = "/Images/RallyStart.png" })

        let is_mouse_inside_shape = function (X, Y, shape) {
            let shape_left = shape.x;
            let shape_right = shape.x + shape.width;
            let shape_top = shape.y;
            let shape_bottom = shape.y + shape.height;

            if (X > shape.x && X < shape.x + shape.width && Y > shape.y && Y < shape.y + shape.height) {
                return true;
            }
            return false;
        }

        let mouse_down = function (event) {
            event.preventDefault();

            startX = parseInt(event.clientX - offset_x);
            startY = parseInt(event.clientY - offset_y);

            let index = 0;
            for (let shape of shapes) {
                if (is_mouse_inside_shape(startX, startY, shape)) {
                    current_shape_index = index;
                    is_dragging = true;
                    return;
                }
                index++;
            }
        }

        let mouse_up = function (event) {
            if (!is_dragging) {
                return;
            }

            event.preventDefault();
            is_dragging = false;
        }

        let mouse_out = function (event) {
            if (!is_dragging) {
                return;
            }

            event.preventDefault();
            is_dragging = false;
        }

        let mouse_move = function (event) {
            if (!is_dragging) {
                return;
            }
            else {
                event.preventDefault();
                let mouseX = parseInt(event.clientX - offset_x);
                let mouseY = parseInt(event.clientY - offset_y);

                let dx = mouseX - startX;
                let dy = mouseY - startY;

                let current_shape = shapes[current_shape_index];
                let newX = current_shape.x + dx;
                let newY = current_shape.y + dy;

                // Check boundaries
                if (newX < 0) newX = 0;
                if (newY < 0) newY = 0;
                if (newX + current_shape.width > canvas_width) newX = canvas_width - current_shape.width;
                if (newY + current_shape.height > canvas_height) newY = canvas_height - current_shape.height;

                current_shape.x = newX;
                current_shape.y = newY;

                draw_shapes();

                startX = mouseX;
                startY = mouseY;
            }
        }

        canvas.onmousedown = mouse_down;
        canvas.onmouseup = mouse_up;
        canvas.onmouseout = mouse_out;
        canvas.onmousemove = mouse_move;

        let draw_shapes = function () {
            context.clearRect(0, 0, canvas_width, canvas_height);
            for (let shape of shapes) {
                context.fillStyle = shape.color;
                context.fillRect(shape.x, shape.y, shape.width, shape.height);
            }
        }

        draw_shapes();


        // button click for create shape
        let btn_start = document.getElementById("btn_start");
        let shapeId = 0; // Initialize the counter outside the event handlers

        btn_start.addEventListener('click', function () {
            shapes.push({ id: shapeId, x: 500 + shapeId * 2, y: 300 + shapeId * 2, width: 50, height: 30, color: 'green' });
            shapeId++;
            draw_shapes();
        });

        canvas.addEventListener('dblclick', function (event) {
            let mouseX = parseInt(event.clientX - offset_x);
            let mouseY = parseInt(event.clientY - offset_y);

            // Check if the click occurred within the bounds of any shape
            for (let i = shapes.length - 1; i >= 0; i--) {
                let shape = shapes[i];
                if (mouseX >= shape.x && mouseX <= shape.x + shape.width && mouseY >= shape.y && mouseY <= shape.y + shape.height) {
                    // Remove the shape from the array
                    shapes.splice(i, 1);
                    break;
                }
            }
            // Redraw the shapes
            draw_shapes();
        });

    </script>


</body>

</html>